
.about-section {
	padding: 50px 150px;
}

/* about section left*/

.about-left-part {
	padding: 150px 0;
}


/*about-right-part*/

.about-right-part {
	background: url(../img/about-bg.png);
    background-size: cover;
    padding-bottom: 15px;

	.about-img {
		padding: 122px 0px 35px 25px;
		width: 90%;
	}
}
