
.portfolio-section {
	background: url(../img/portfolio-bg.png);
	background-repeat: no-repeat;
    background-size: 920px 660px;
    background-position: -60px;
    padding: 0 150px;
}

/*Portfolio left part*/

.portfolio-left-part {
	padding: 50px 0;
	position: relative;

	.portfolio-img {
		padding: 10px 0;
	}

	.portfolio-img3 {
		padding: 90px 0;
		position: absolute;
	    left: 30px;
	}
}


/*portfolio-right-part*/

.portfolio-right-part {
	text-align: right;
	padding: 150px 0;

	.section-title {
		padding-left: 30px;
	}
}