
.testimonial-section {
	background: url(../img/testimonial-bg.png);
	background-position: center;
    padding-bottom: 280px;
    background-size: cover;
    background-repeat: no-repeat;
}

.headar-part {
	text-align: center;
	padding-top: 65px; 
}

.testimonial-body {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px 0;
	position: relative;
}

.centre-item {
    width: 300px;
    position: absolute;
    top: 286px;
    left: 424px;

	.circle-img {
		padding: 20px 115px 0;
	}
}

.center-description {
	color: #031d5b;
	font-size: 12px;
	text-align: center;
	padding: 15px;
	margin-bottom: 0;
}

.author-name {
	margin-bottom: 0;
	padding-top: 5px;
	color: #031d5b;
	font-size: 12px;
}

.author-title {
	margin-bottom: 0;
	color: #031d5b;
	font-size: 12px;
	padding-bottom: 5px;
}

.author-1 {
	width: 250px;
    position: absolute;
    background: #7e82fa; 
	border-radius: 5%;
    top: 200px;
    left: 70px;
    opacity: .8;

    .center-description {
		color: #acaefc;
	}

	.author-name {
		color: #acaefc;
	}

	.author-title {
		color: #acaefc;
	}
}

.author-2 {
	width: 250px;
    position: absolute;
    background: #ff6968; 
	border-radius: 5%;
    left: 145px;
    bottom: -70px;
    opacity: .8;

    .center-description {
		color: #f99fa4;
	}

	.author-name {
		color: #f99fa4;
	}

	.author-title {
		color: #f99fa4;
	}
}

.author-3 {
	width: 250px;
    position: absolute;
    background: #08d88c; 
	border-radius: 5%;
    top: 250px;
    right: 70px;
    opacity: .8;

    .center-description {
		color: #b6ebe2;
	}

	.author-name {
		color: #b6ebe2;
	}

	.author-title {
		color: #b6ebe2;
	}
}

.author-4 {
	width: 250px;
    position: absolute;
    background: #ffc821; 
	border-radius: 5%;
    bottom: -110px;
    right: 135px;
    opacity: .8;

    .center-description {
		color: #f5e5bc;
	}

	.author-name {
		color: #f5e5bc;
	}

	.author-title {
		color: #f5e5bc;
	}
}

.author-img {
    padding: 0px 105px;
}

.center-comma {
	position: absolute;
    top: 250px;
    left: 550px;
}

.right-arrow {
	position: absolute;
	bottom: 0;
	left: 590px;
}

.left-arrow {
	position: absolute;
	bottom: 0;
    left: 530px;
}